<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Soul</string>
	<key>CFBundleDisplayName</key>
	<string>Soul</string>
	<key>CFBundleIdentifier</key>
	<string>com.soul.app</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/DMSans-Regular.ttf</string>
		<string>Resources/Fonts/DMSans-Medium.ttf</string>
		<string>Resources/Fonts/DMSans-Bold.ttf</string>
	</array>
	<key>ATSApplicationFontsPath</key>
	<string>Resources/Fonts</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
</dict>
</plist>